.main {
    width: 100%;
}

.filter-wrap {
    box-sizing: border-box;
    padding: 10px;
}

#filter {
    font-size: 20px;
    padding: 8px 10px;
    font-size: 1.6rem;
    font-weight: 300;
    width: 100%;
    display: flex;
    border-radius: 4px;
    border: 2px solid lightgray;
    background: lightgray;
}

.total {
    padding: 15px 30px 15px 15px;
    font-weight: 500;
    top: 50%;
    transform: translateY(25%);
}

.last5 {
    padding-left: 15px;
    font-weight: 400;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    padding: 10px;
    /*border: 1px solid #111;*/
}
.last-5-item {
    margin: 0 0 8px 8px;
    padding: 5px 7px 5px 7px;
    /*border: 1px solid #111;*/
    min-width: 107px;
}

.movie-top {
    display: flex;
}

.vertical-line {
    border-right: thin solid #6a737d;
}

.item span:first-child {
    font-weight: 500;
    /*font-size: 1.2rem;*/
    font-size: 17px;
}
.last-5-item span:first-child {
    font-weight: 500;
    /*font-size: 1.2rem;*/
    font-size: 16px;
}

.item span:nth-child(2n) {
    display: block;
    /*font-size: 1.2rem;*/
    font-size: 17px;
}
.last-5-item span:nth-child(2n) {
    display: block;
    padding-top: 3px;
    /*font-size: 1.2rem;*/
    font-size: 13px;
}
.last-5-item span:nth-child(3n) {
    display: block;
    /*font-size: 1.2rem;*/
    font-size: 15px;
}

.rating-6 {
    background: #209112;
    color: #fff;
}

/*.rating-9 {*/
/*    background: #479611;*/
/*    color: #fff;*/
/*}*/

.rating-5 {
    background: #669f11;
    color: #fff;
}

.rating-4 {
    background: #9bad0f;
    color: #fff;
}

.rating-3 {
    background: #dcb20e;
    color: black;
}

/*.rating-5 {*/
/*    background: #eb900d;*/
/*    color: #fff;*/
/*}*/

/*.rating-4 {*/
/*    background: #e17c0e;*/
/*    color: #fff;*/
/*}*/

.rating-2 {
    background: #c9550e;
    color: #fff;
}

/*.rating-2 {*/
/*    background: #ac290f;*/
/*    color: #fff;*/
/*}*/

.rating-1 {
    background: #9d100f;
    color: #fff;
}

.break {
    flex-basis: 100%;
    height: 0;
}
